<form method="POST" action="{{ path('parser_upload') }}" enctype="multipart/form-data">
    <input type="file" name="files[]" multiple>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>

<form method="POST" action="{{ path('parser_delete') }}" enctype="multipart/form-data">
    <select class="custom-select" name="select_db[]" multiple>
        {% if not db_list %}
        <option value="0" disabled>Empty</option>
        {% endif %}
        {% for item in db_list %}
            <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
    </select>
    <br>
    <br>
    <button type="submit" class="btn btn-primary" name="delete_button">Delete</button>
    <button type="submit" class="btn btn-primary" name="export_button" formaction="{{ path('parser_export') }}">Export</button>
</form>
<form method="POST" action="{{ path('parser_merge') }}" enctype="multipart/form-data">
    <select class="custom-select" name="select_export[]" multiple>
        {% if not export_list %}
            <option value="0" disabled>Empty</option>
        {% endif %}
        {% for item in export_list %}
            <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
    </select>
    <br>
    <br>
    <button type="submit" class="btn btn-primary" name="merge_button">Merge</button>
    <button type="submit" class="btn btn-primary" name="download_button" formaction="{{ path('parser_download') }}">Download</button>
</form>
